/* google font */
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Oswald&display=swap");

/* 
font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif;
 */
/* common design starts here */
body {
  font-family: "Lato", sans-serif;
  background-color: #fff;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
/* common design ends here */

/* header section design starts here */
header {
  background: #f5f9f9;
  padding: 25px;
}
.strict-logo {
  padding: 10px 0px;
}
.menu {
}
.menu ul {
  display: flex;
  justify-content: flex-end;
  margin: 0;
}
.menu ul li {
  list-style: none;
}
.menu ul li a {
  font-family: "Oswald", sans-serif;
  color: #454444;
  font-size: 25px;
  padding: 10px 25px;
}
.menu ul li a:hover {
}
/* header section design ends here */


/* banner section design starts here */
.banner{
  background: url(image/banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.banner-text{
  text-align: center;
}
.banner-text h1{
  color: #ffffff;
  font-size: 100px;
  text-transform:  uppercase;
  margin-bottom: 15px;
  padding-top: 215px;
  
}
.banner-text p{
  color: #ffffff;
  font-size: 20px;
  border-top: 2px solid #15a4fa;
  display: inline-block;
  padding: 35px  10px 68px;
  
}
.banner-button{
  text-align: center;
}
.banner-button a{
     border: 2px solid #15a4fa;
     padding: 20px;
     font-size: 18px;
     color: #fff;
     text-transform: capitalize;
     
}
.banner-button i{
  display: block;
  padding: 175px 0px 70px;
  color: #ffffff;
  font-size: 35px;
}
/* banner section design ends here */



/* desc section design starts here */

.desc-section{
        text-align: center;
        padding: 80px 0px;
}
.desc-section h3{
  font-size: 40px;
  color: #2d3950;
  margin-bottom: 28px;
}
.desc-section p{
  font-size: 20px;
  color: #999999;
}

/* desc section design ends here */
